#imagem1{
    width: 110%;
}
#foto12{
width: 70%;
}
#imagem2{
    width: 100%;
}
#imagem11{
    width: 50%;
}
#imagem4{
    width: 50%;
}
#imagem4{
    width: 20%;
}
#imagem5{
width: 20%;
}
#imagem6{
    width: 20%;
}
p {
text-align: justify;
color: wheat;
}
h1{ 
  color: lightcoral;  
}

    

